@import "./vendor/vars";
@import "./vendor/mixins";
@import './vendor/setting.scss';

//html {
//  scroll-behavior: smooth;
//  font-size: calc(100vw / 1920 * 10);
//
//  @include breakpoint($xl-bp) {
//    font-size: calc(100vw / 1024 * 10);
//  }
//
//  @include breakpoint($sm-bp) {
//    font-size: calc(100vw / 600 * 10);
//  }
//}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1020 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 400 * 10);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  width: 100%;
  height: 100%;
}

a {
  contain: inherit;
}

input {
  all: unset;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Steppe";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Steppe"),
    /* Если не получилось, загрузит woff2 */
  url("../fonts/Steppe-Medium.ttf") format("ttf"),
    /* Если браузер не поддерживает woff2, загрузит woff */
  url("../fonts/Steppe-Medium.woff") format("woff"),
  url("../fonts/Steppe-Medium.woff2") format("woff2");
}

body {
  font-family: 'Steppe', sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  background-color: $main-color;
  color: $text-color;
}

.swiper-pagination span.swiper-pagination-bullet {
  background-color: $text-agree !important;
}

.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: $text-color !important;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  @include breakpoint($xl-bp) {
    max-width: 71rem;
  }
  @include breakpoint($sm-bp) {
    max-width: 33rem;
  }
}

h1 {
  font-size: 8.6rem;
  letter-spacing: 0.48rem;
  height: 8.6rem;

  @include breakpoint($xl-bp) {
    font-size: 5rem;
    letter-spacing: 0.16rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 4.2rem;
    letter-spacing: 0.16rem;
  }
}

h2 {
  font-size: 6.4rem;
  letter-spacing: 0.32rem;
  @include breakpoint($xl-bp) {
    font-size: 3.2rem;
    letter-spacing: 0.16rem;
  }
}

h3 {
  font-size: 3.2rem;
  letter-spacing: 0.16rem;
  @include breakpoint($xl-bp) {
    font-size: 2.6rem;
    letter-spacing: 0.13rem;
  }
}

p {
  font-size: 2rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;
}

.small {
  font-size: 1.6rem;
}

input:invalid {
  border-bottom: 0.1rem solid red;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.scroll-lock {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: relative;


  // scrollbar-gutter: stable !important;
  // overscroll-behavior-y: none !important;
  // touch-action: none;

  // @include breakpoint($sm-bp) {
  //   scrollbar-gutter: auto !important;

  // }
}

.breadcrumb {
  margin: 20rem 0 6rem;
  list-style: none;
  padding: 0;
  @include breakpoint($xl-bp) {
    margin: 7rem 0 6rem;
  }
}

.breadcrumb-item {
  display: inline-block;
  a {
    font-size: 3.2rem;
    letter-spacing: 0.16rem;
    color: $number-color;
    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
    }
  }
}

.breadcrumb-item a.active {
  color: $text-color;
}

.breadcrumb-item::after {
  content: "/";
  padding: 0 0.5rem;
  color: $number-color;
  font-size: 3.2rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }
}

.breadcrumb-item:last-child::after {
  content: "";
}

.icon__svg {
  width: 3rem;
  height: 3rem;
  fill: $text-color;
  position: relative;
  z-index: 1;
  &.phone:hover {
    cursor: pointer;
    fill: $active;
  }

  &.tg:hover {
    cursor: pointer;
    fill: $tg-color;
  }

}

.svg__color {
  width: 4rem;
  height: 4rem;
  fill: $text-color;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: $text-color;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  &:hover::after {
    opacity: 1;
  }
}

.underline {
  text-decoration: underline;
}

/*--------- popup -------------*/
@import './blocks/popup.scss';
@import './blocks/header.scss';
@import './blocks/thank-popup.scss';
@import './blocks/reviews-popup.scss';

/*------section------*/

@import './blocks/main.scss';
@import './page/about.scss';
@import './page/material.scss';
@import './page/septum.scss';
@import './page/glass.scss';
@import './page/project.scss';
@import './page/portfolio.scss';
@import './page/type.scss';
@import './page/contact.scss';

@import './blocks/footer.scss';
@import './blocks/animation.scss';
@import './blocks/button.scss';