<footer class="footer wrapper">
  <div class="footer__logo">
    <p>Логотип</p>
  </div>
  <div class="footer__container">
    <div class="footer__address">
      <p>Москва</p>
      <p>Киевское шоссе, 22-й км, поселение Московский, домовладение 4, строение 2, офисный подъезд 14, офис 512-В</p>
      <p>Посмотреть на <a href="#" target="_blank"> Яндекс.Картах</a></p>
      <p  class="small">Разработка сайта <a href="https://yar-studio.com/" target="_blank">Студия ЯР</a></p>
    </div>
    <div class="footer__contact">
      <div class="banner__contact">
        <p>Телефон</p>
        <div>
          <div class="svg__color">
            <svg class="icon__svg phone">
              <use href="#phone"></use>
            </svg>
          </div>
          <div class="svg__color">
            <svg class="icon__svg tg">
              <use href="#tg"></use>
            </svg>
          </div>
          <a href="tel:+7 (495) 646-80-06">+7 (495) 646-80-06</a>
        </div>
      </div>
      <button class="button buttonRequest">Запросить расчет</button>
    </div>
  </div>
</footer>