<div class="menu__mov">
    <div class="wrapper">
        <div class="banner__nav">
            <p>Логотип</p>
            <div class="menu" id="menuCloseButton">
                <svg>
                    <use href="#close"></use>
                </svg>
            </div>
            <div class="banner__contact">
                <div class="svg__color">
                    <svg class="icon__svg phone">
                        <use href="#phone"></use>
                    </svg>
                </div>
                <div class="svg__color">
                    <svg class="icon__svg tg">
                        <use href="#tg"></use>
                    </svg>
                </div>
                <a href="tel:+7 (495) 646-80-06">+7 (495) 646-80-06</a>
            </div>
        </div>
        <ul>
            <li>Продукция</li>
            <li>О компании</li>
            <li>Цены</li>
            <li>Материалы</li>
            <li>Услуги</li>
            <li>Портфолио</li>
            <li>Контакты</li>
            <li>
                <div class="banner__contact">
                    <div>
                        <div class="svg__color">
                            <svg class="icon__svg phone">
                                <use href="#phone"></use>
                            </svg>
                        </div>
                        <div class="svg__color">
                            <svg class="icon__svg tg">
                                <use href="#tg"></use>
                            </svg>
                        </div>
                    </div>
                    <a href="tel:+7 (495) 646-80-06">+7 (495) 646-80-06</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<header class="banner__nav wrapper">
    <p>Логотип</p>
    <div class="menu" id="menuButton">
        <div class="item1"></div>
        <div class="item2"></div>
        <div class="item3"></div>
    </div>
    <div class="banner__contact">
        <div class="svg__color">
            <svg class="icon__svg phone">
                <use href="#phone"></use>
            </svg>
        </div>
        <div class="svg__color">
            <svg class="icon__svg tg">
                <use href="#tg"></use>
            </svg>
        </div>
        <a href="tel:+7 (495) 646-80-06">+7 (495) 646-80-06</a>
    </div>
</header>