<div class="popup__wrapper">
  <div class="po-pup">
      <svg class="closeBtn">
          <use href="#close"></use>
      </svg>
      <h2>Запросить расчет</h2>
      <form class="request__form novalidate">
          <input type="text" placeholder="Имя" required>
          <input type="number" placeholder="Телефон" required>
          <p>Отправляя данную форму вы подтверждаете согласие с обработкой персональных данных и политикой конфиденциальности.</p>
          <div class="file-upload">
              <div class="file-upload__content">
                  <svg>
                      <use href="#file"></use>
                  </svg>
                  <p class="small">Загрузите ваши документы</p>
                  <p class="small">Поддерживаемые типы файлов: 10MB</p>
              </div>
              <label class="button">
                  Загрузить
              <input type="file" class="file-upload__input">
              </label>
          </div>
          <button class="button">Отправить</button>
      </form>
  </div>
</div>