.gallery {
  h1 {
    margin: 20rem 0 4rem;
    @include breakpoint($xl-bp) {
      margin: 6rem 0 4rem;
    }
  }

  &__container {
    margin: 4rem 0 12rem;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    @include breakpoint($sm-bp) {
      gap: 10rem;
      margin: 6rem 0 10rem;
    }
  }

  &__item {
    display: flex;
    gap: 6.5rem;
    @include breakpoint($sm-bp) {
      gap: 2rem;
    }
  }

  &__item:nth-child(odd) {
    @include breakpoint($xl-bp) {
      flex-direction: column;
    }
  }

  &__item:nth-child(even) {
    @include breakpoint($xl-bp) {
      flex-direction: column-reverse;
    }
  }

  &__inf {
    width: 100%;
  }

  &__img:nth-child(odd) {
    border-right: 0.1rem solid $text-color;
    padding-right: 6.5rem;
    @include breakpoint($xl-bp) {
      border-right: 0;
      border-bottom: 0.1rem solid $text-color;
      padding-bottom: 2rem;
      padding-right: 0;
    }
  }

  &__img:nth-child(even) {
    border-left: 0.1rem solid $text-color;
    padding-left: 6.5rem;
    @include breakpoint($xl-bp) {
      padding-left: 0;
      border-left: 0;
      border-bottom: 0.1rem solid $text-color;
      padding-bottom: 2rem;
    }
  }

  &__img picture {
    @include breakpoint($sm-bp) {
      width: 33.5rem;
      height: 20.4rem;
    }
  }

  &__img img {
    border-radius: 0.8rem;
  }

  &__inf {
    p {
      margin-top: 2rem;
    }
    button {
      margin-top: 6rem;
      @include breakpoint($sm-bp) {
        width: 100%;
      }
    }
  }
}