<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>
  <!-- sprite -->
  {{> sprite }}

  <!-- Header -->
  {{> header }}

  <!-- Main content -->

  {{> body }}


  <!-- Footer -->
  {{> footer }}

  <!-- popup -->
  {{> popup }}

  {{> thank-popup }}

  {{> reviews-popup }}

  <!-- JS -->
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="./assets/js/swiper.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="./assets/js/index.js"></script>

</body>

</html>